[Unit]
Description=JXCoin daemon serivce
After=network.target

[Service]
Type=simple
User=JXCoin
ExecStart=/opt/JXCoin/JXCoind

[Install]
WantedBy=multi-user.target
